@tailwind base;
@tailwind components;
@tailwind utilities;

/* #87: Гарантированный отступ в полях ввода */
@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    input[type="url"],
    input[type="search"],
    input[type="date"],
    input[type="datetime-local"],
    textarea,
    select {
        @apply px-3 py-2;
    }
}
